.orange
{
/*   background-color: orange; */
/*   background-image: radial-gradient(gold,silver); */
  background-image : url("https://img.freepik.com/free-vector/3d-black-techno-abstract-background-overlap-layer_206725-670.jpg?size=626&ext=jpg&ga=GA1.1.786716438.1712754055&semt=ais_user");
 color:#E2DFD2; 
  width:fit-content;
  height:auto;
  max-width:450px;
  border-radius:30%;
  padding:4%;
  border:10px solid #0c0c0c;
  margin-left:auto;
  margin-right:auto;
/*   display:flex;
  flex-direction: column;
  align-items: center; */
}

.logo
{
  max-height:50vh;
  max-width:100%;
  min-height:2vh;
  min-width:0.5vw;
  border-radius:50%;
  margin-left:15%;
}

.skillImg
{
/*   max-width:100px; */
  min-width:30px;
  min-height:40px;
  max-height:40px;
  background-color:white;
  border-radius:20%;
  padding:1%;
  border:5px solid #005f69;
}
